#container
{
    width: 95%;
    height: 200px;
    background: white;
    position: relative;
    
    /*outline: 1px solid #666; 
   
   margin-left: 10px;
      margin-right: 10px;*/
}

#box
{
   
    position: absolute;
}


#boxx
{
   
    position: absolute;
}
#img
{ 
   width: 200px;
    height: 200px; 
}
#img2
{ 
   width: 200px;
    height: 200px; 
}

@media only screen and (max-device-width: 1024px) {
   #img2
{ 
   width: 100px;
    height: 100px; 
}
#img
{ 
   width: 100px;
    height: 100px; 
}

#container
{
    width: 95%;
    height: 100px;
    background: white;
    position: relative;
    /*outline: 1px solid #666; */
 margin-left: 10px;
      margin-right: 10px;
}
}

button
{
    height: 100%;  
    background:#04d654;
    color: #fff;
}

#menu
{
  margin-left: 20px;
}


#footer
{
   background-color: white;
   margin-left: 20px;
 
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
/**/
li {
    float:left;
       margin: 0 auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}