#container
{
    width: 100%;
    height: 200px;
    background: black;
    position: relative;
}

#box
{
    
    position: absolute;
}

#img
{
   width: 200px;
    height: 200px; 
}
button
{
   
   width: 100px;
    height: 100px;  
}

#menu
{
    margin-top: 20px;
}
}