#container
{
    width: 95%;
    height: 200px;
    background: white;
    position: relative;
   outline: 1px solid #666;
   margin-left: 20px
}

#box
{
   
    position: absolute;
}


#boxx
{
   
    position: absolute;
}
#img
{ 
   width: 200px;
    height: 200px; 
}
#img2
{ 
   width: 200px;
    height: 200px; 
}
button
{
    margin: 5px !important;
    height: 50px;  
}


#footer
{
   background-color: white;
   margin-left: 20px;
 
}

#menu
{
  margin-left: 20px;
}



ul {
    list-style-type: none;
    margin: center;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}